<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Compound Interest Calculator</title>
  </head>
  <body>
    <h1>Compound Interest Calculator</h1>
    <p>The interest on your investment is <%= interest %> dollars.</p>
    <a href="/">Back to calculator</a>
  </body>
</html>
